@import "tailwindcss";

@theme inline {
  /* Base */
  --color-backgroundGray: #1f2021;
  --color-backgroundDarkGray: #121314;
  --color-foreground: #ffffff;

  /* Surfaces & Borders */
  --color-Border-Secondary: #454647;
  --color-Surface0: #121314;
  --color-Surface1: #1f2021;
  --color-Surface2: #2b2c2d;

  /* Overlays Blacks */
  --color-Overlays-Black-9: rgba(18, 19, 20, 0.44);
  --color-Overlays-Black-2: rgba(18, 19, 20, 0.03);

  /* Overlay Whites */
  --color-Overlays-White-7: rgba(255, 255, 255, 0.18);
  --color-Overlays-White-5: rgba(255, 255, 255, 0.09);
  --color-Overlays-White-4: rgba(247, 247, 248, 0.06);
  --color-Overlays-White-3: rgba(255, 255, 255, 0.03);
  --color-Overlays-White-2: rgba(255, 255, 255, 0.01);

  /* Content */
  --color-Content-Primary: #eaebeb;
  --color-Content-Secondary: #b7b8b9;
  --color-Content-Tertiary: #9d9fa0;
  --color-Content-Quartiary: #515354;
  --color-Content-Brand-Accent: #3bf5ff;
  --color-Content-Warning-Bold: #ffb381;
  --color-Content-Info-Bold: #96c7f2;
  --color-Content-Error-Bold: #f3aeaf;

  /* border */
  --color-Border-Tertiary: #5d5f61;

  /* Brand Accents */
  --color-Brand-Accent-Alpha-100: #003a3d;
  --color-Brand-Accent-Alpha-200: #009199;

  /* Action Buttons */
  --color-Action-Buttons-Secondary-Background-Default: rgba(
    247,
    247,
    248,
    0.09
  );
  --color-Action-Buttons-Secondary-Background-Pressed: rgba(
    247,
    247,
    248,
    0.25
  );
  --color-Action-Buttons-Primary-Accent-Background-Default: rgba(
    0,
    240,
    255,
    0.2
  );
  --color-Action-Buttons-Tertiary-Background-Hover: rgba(247, 247, 248, 0.18);
  --color-action-buttons-secondary-content-default-pressed-hover: #f7f7f8;
  --color-Action-Buttons-Primary-Accent-Content-Default: #3bf5ff;
  --color-action-buttons-primary-default-content-default-hover-pressed: #121314;
  --color-Action-Buttons-Primary-Default-Background-Default: #c3c5c6;
  --color-action-buttons-tertiary-content-default-hover: #f7f7f8;
  --color-Action-Buttons-Link-Content-Default: #8da4ef;

  /* Badges - Subtle backgrounds */
  --color-Badge-Crimson-Subtle-Background: rgba(206, 1, 93, 0.22);
  --color-Badge-Plum-Subtle-Background: rgba(163, 0, 172, 0.22);
  --color-Badge-Indigo-Subtle-Background: rgba(1, 61, 228, 0.22);
  --color-Badge-Amber-Subtle-Background: rgba(255, 187, 1, 0.17);
  --color-Badge-Teal-Subtle-Background: rgba(0, 164, 137, 0.22);
  --color-Badge-Red-Subtle-Background: rgba(228, 1, 1, 0.22);
  --color-Badge-Gray-Subtle-Background: #38393a;
  --color-Badge-Green-Subtle-Background: rgba(0, 155, 54, 0.2);
  --color-Badge-Yellow-Subtle-Background: rgba(255, 234, 1, 0.18);
  --color-Badge-Blue-Subtle-Background: rgba(1, 128, 239, 0.19);
  --color-Badge-Brand-Accent-Subtle-Background: rgba(5, 243, 255, 0.08);

  /* Badges - Subtle content */
  --color-Badge-Plum-Subtle-Content: #cf91d8;
  --color-Badge-Indigo-Subtle-Content: #8da4ef;
  --color-Badge-Green-Subtle-Content: #30a46c;
  --color-Badge-Amber-Subtle-Content: #ee9d2b;
  --color-Badge-Teal-Subtle-Content: #12a594;

  /* Badges - Outline backgrounds & borders */
  --color-Badge-Red-Outline-Background: rgba(255, 5, 5, 0.03);
  --color-Badge-Red-Outline-Border: #cd2b31;
  --color-Badge-Green-Outline-Background: rgba(2, 186, 60, 0.09);
  --color-Badge-Green-Outline-Border: #18794e;
  --color-Badge-Yellow-Outline-Background: rgba(255, 221, 2, 0.09);
  --color-Badge-Yellow-Outline-Border: #946800;
  --color-Badge-Violet-Outline-Background: rgba(60, 0, 255, 0.05);
  --color-Badge-Violet-Outline-Border: #5746af;
  --color-Badge-Brand-Accent-Outline-Background: rgba(5, 230, 255, 0.04);
  --color-Badge-Brand-Accent-Outline-Border: #009199;
  --color-Badge-Amber-Outline-Background: rgba(255, 221, 2, 0.09);
  --color-Badge-Amber-Outline-Border: #946800;
  --color-Badge-Purple-Outline-Background: rgba(146, 0, 237, 0.05);
  --color-Badge-Purple-Outline-Border: #793aaf;
  --color-Badge-Gold-Outline-Background: rgba(140, 106, 2, 0.09);
  --color-Badge-Gold-Outline-Border: #776750;
  --color-Badge-Lime-Outline-Background: rgba(119, 204, 1, 0.06);
  --color-Badge-Lime-Outline-Border: #5d770d;

  /* Badges - Outline content */
  --color-Badge-Red-Outline-Content: #eb9091;
  --color-Badge-Green-Outline-Content: #5bb98c;
  --color-Badge-Yellow-Outline-Content: #ebbc00;
  --color-Badge-Violet-Outline-Content: #aa99ec;
  --color-Badge-Brand-Accent-Outline-Content: #00c1cc;
  --color-Badge-Amber-Outline-Content: #ebbc00;
  --color-Badge-Purple-Outline-Content: #be93e4;
  --color-Badge-Gold-Outline-Content: #b8a383;
  --color-Badge-Lime-Outline-Content: #94ba2c;

  /* Badges - Solid */
  --color-Badge-Gold-Solid-Background: #776750;
  --color-Badge-Gold-Solid-Content: #fbf9f2;

  /* Shadows */
  --shadow-navbar: 0 0.5px 0 0.5px rgba(247, 247, 248, 0.06) inset,
    0 0 1.5px 1.5px rgba(247, 247, 248, 0.06) inset;
  --shadow-LightGrayButton: 0 2px 0 0 #ffffff inset,
    0 0 0 2px rgba(255, 255, 255, 0.4) inset;
  --shadow-AccentButton: 0 0 0 1px #3bf5ff inset, 0 0 5px 2px #009199 inset;
  --shadow-SecondaryButton: 0 2px 0 0 rgba(255, 255, 255, 0.2) inset,
    0 0 0 2px #38393a inset;
  --shadow-bottomSheetClose: 0 2px 0 0 rgba(255, 255, 255, 0.2) inset,
    0 0 0 2px #38393a inset;
  --shadow-bottomSheet: 0 2px 0 0 rgba(255, 255, 255, 0.2) inset,
    0 0 0 2px #38393a inset;
  --shadow-navLinkActive: 0 2px 0 0 #ffffff inset,
    0 0 0 2px rgba(255, 255, 255, 0.4) inset;
  --shadow-navDropdown: 0 2px 0 0 rgba(255, 255, 255, 0.2) inset,
    0 0 0 2px #38393a inset;
  --shadow-boxPrimary: 0 0.5px 0 0.5px rgba(255, 255, 255, 0.09) inset,
    0 0 1.5px 1.5px rgba(247, 247, 248, 0.09) inset;
  --shadow-homeTableShadow: 0 0.5px 0 0.5px rgba(255, 255, 255, 0.09) inset,
    0 0 1.5px 1.5px rgba(247, 247, 248, 0.09) inset;
  --shadow-participateBlackCard: 0 0 3.323px 0 rgba(59, 245, 255, 0.5);
  --shadow-participateNeonCard: 0 0 3.323px 0 #3bf5ff, 0 0 0.831px 0 #3bf5ff,
    0 0 0.498px 0 #3bf5ff;

  /* Fonts (kept as-is so Next.js font var works) */
  --font-outfit: var(--font-outfit);
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
  /* scrollbar-gutter: stable both-edges; */
}

@media (min-width: 5760px) {
  html {
    font-size: 48.2px;
  }
}

@media (min-width: 3840px) and (max-width: 5759px) {
  html {
    font-size: 32.1px;
  }
}

@media (min-width: 2880px) and (max-width: 3839px) {
  html {
    font-size: 24.05px;
  }
}

@media (min-width: 2560px) and (max-width: 2879px) {
  html {
    font-size: 21.37px;
  }
}

@media (min-width: 2400px) and (max-width: 2559px) {
  html {
    font-size: 20.04px;
  }
}

@media (min-width: 2133px) and (max-width: 2399px) {
  html {
    font-size: 17.8px;
  }
}

@media (min-width: 1920px) and (max-width: 2132px) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 1745px) and (max-width: 1919px) {
  html {
    font-size: 14.55px;
  }
}

@media (min-width: 1536px) and (max-width: 1744px) {
  html {
    font-size: 12.78px;
  }
}

@media (min-width: 1280px) and (max-width: 1535px) {
  html {
    font-size: 10.68px;
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  html {
    font-size: 9.15px;
  }
}

body {
  background: var(--color-backgroundDarkGray);
  color: var(--color-foreground);
  font-family: var(
    --font-outfit,
    ui-sans-serif,
    system-ui,
    -apple-system,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    "Apple Color Emoji",
    "Segoe UI Emoji"
  );
}

a {
  text-decoration: none !important;
}

.glowyBoxBg {
  background: radial-gradient(
      66.22% 86.87% at 50% 100%,
      rgba(255, 255, 255, 0.08) 0%,
      rgba(18, 19, 20, 0.19) 100%
    ),
    rgba(255, 255, 255, 0.03);

  box-shadow: 0 0.5px 0 0.5px rgba(255, 255, 255, 0.12) inset,
    0 0 1.5px 1.5px rgba(247, 247, 248, 0.12) inset;
  backdrop-filter: blur(25px);
}
.glowyBoxBg:hover {
  background: radial-gradient(
      66.22% 86.87% at 50% 100%,
      rgba(59, 245, 255, 0.09) 0%,
      rgba(59, 245, 255, 0.26) 100%
    ),
    rgba(255, 255, 255, 0.03);

  box-shadow: 0 0 0 2px rgba(59, 245, 255, 0.5),
    0 3px 5px 0 rgba(59, 245, 255, 0.5), 0 6px 24px 0 rgba(59, 245, 255, 0.5);
  backdrop-filter: blur(25px);
}
.content-heading {
  font-weight: 600;
  color: var(--color-Content-Primary);
  font-size: 1.5rem;
  line-height: 2rem;
}

.content-subheading {
  color: var(--color-Content-Secondary);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}

.card-heading {
  font-weight: 600;
  color: var(--color-Content-Primary);
  font-size: 1.125rem;
  line-height: 1.625rem;
}

.card-subheading {
  color: var(--color-Content-Secondary);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
}

.page-intro {
  background: var(--color-backgroundDarkGray);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 1.5rem;
  gap: 3.5rem;
}
.page-intro-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  text-align: center;
}
.page-intro-heading {
  font-weight: 600;
  color: var(--color-Content-Primary);
  font-size: 2.5rem;
  line-height: 3rem;
}

.page-intro-subheading {
  color: var(--color-Content-Secondary);
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.75rem;
}
.h2-title {
  color: var(--color-Content-Primary);
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.5rem;
}
.p-subtitle {
  color: var(--color-Content-Secondary);
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
}
.section-wrapper {
  background: linear-gradient(180deg, #121314 0%, #1f2021 50%);
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding: 2rem 1.5rem;
}
.shadow-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: 0 0.5px 0 0.5px rgba(255, 255, 255, 0.09) inset,
    0 0 1.5px 1.5px rgba(247, 247, 248, 0.09) inset;
  z-index: 1001;
  pointer-events: none;
  border-radius: 1.25rem;
}

.shadow-table::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: 0 0.5px 0 0.5px rgba(255, 255, 255, 0.09) inset,
    0 0 1.5px 1.5px rgba(247, 247, 248, 0.09) inset;
  z-index: 1001;
  pointer-events: none;
  border-radius: 1rem;
}

.fade-bottom-25 {
  -webkit-mask-image: linear-gradient(
    to bottom,
    #000 0%,
    #000 45%,
    rgba(0, 0, 0, 0) 100%
  );
  mask-image: linear-gradient(
    to bottom,
    #000 0%,
    #000 45%,
    rgba(0, 0, 0, 0) 100%
  );
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

@media (min-width: 768px) {
  .card-heading {
    font-size: 1.25rem !important;
    line-height: 1.75rem !important;
  }
  .page-intro {
    padding: 3rem 2.5rem !important;
    gap: 4rem !important;
  }
  .page-intro-heading {
    font-size: 3rem !important;
    line-height: 3.5rem !important;
  }
  .h2-title {
    font-size: 2.5rem !important;
    line-height: 3rem !important;
  }
  .p-subtitle {
    font-size: 1.125rem !important;
    line-height: 1.625rem !important;
  }
  .section-wrapper {
    gap: 3rem !important;
    padding: 3rem 2.5rem !important;
  }
  .shadow-container::before {
    border-radius: 1.5rem !important;
  }
  .shadow-table::before {
    border-radius: 1.5rem !important;
  }
}

@media (min-width: 1024px) {
  .content-heading {
    font-size: 2.5rem !important;
    line-height: 3rem !important;
  }
  .content-subheading {
    font-size: 1.125rem !important;
    line-height: 1.625rem !important;
  }
  .card-heading {
    font-size: 2rem !important;
    line-height: 2.5rem !important;
  }
  .card-subheading {
    font-size: 1rem !important;
    line-height: 1.5rem !important;
  }
  .page-intro {
    padding: 8rem 16rem !important;
    gap: 6rem !important;
  }
  .page-intro-heading {
    font-size: 4rem !important;
    line-height: 4.5rem !important;
    max-width: 60rem !important;
  }
  .page-intro-subheading {
    max-width: 40rem !important;
    margin-inline: auto !important;
  }
  .h2-title {
    font-size: 3.5rem !important;
    line-height: 4rem !important;
  }
  .p-subtitle {
    font-size: 1.25rem !important;
    line-height: 1.75rem !important;
  }
  .section-wrapper {
    gap: 4rem !important;
    padding: 8rem 16rem !important;
  }
  .shadow-container::before {
    border-radius: 3rem !important;
  }
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto !important;
  scrollbar-color: var(--color-Border-Secondary) transparent !important;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 1rem !important;
}

*::-webkit-scrollbar-track {
  background: transparent !important;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--color-Border-Secondary) !important;
}
