@import "tailwindcss";

:root {
  --backgroundGray: #1f2021;
  --backgroundDarkGray: #121314;
  --foreground: #ffffff;
  --Overlays-White-5: rgba(255, 255, 255, 0.09);
  --Overlays-White-4: rgba(247, 247, 248, 0.06);
  --Content-Primary: #eaebeb;
  --action-buttons-tertiary-content-default-hover: #f7f7f8;
  --Border-Secondary: #454647;
  --Surface-L0: #121314;
  --Action-Buttons-Primary-Default-Background-Default: #c3c5c6;
  --action-buttons-primary-default-content-default-hover-pressed: #121314;
  --Action-Buttons-Primary-Accent-Background-Default: rgba(0, 240, 255, 0.2);
  --Action-Buttons-Secondary-Background-Default: rgba(247, 247, 248, 0.09);
  --Action-Buttons-Primary-Accent-Content-Default: #3bf5ff;
  --action-buttons-secondary-content-default-pressed-hover: #f7f7f8;
}

@theme inline {
  --color-backgroundGray: var(--backgroundGray);
  --color-backgroundDarkGray: var(--backgroundDarkGray);
  --color-foreground: var(--foreground);
  --color-Border-Secondary: var(--Border-Secondary);
  --color-Surface-L0: var(--Surface-L0);
  --color-Overlays-White-5: var(--Overlays-White-5);
  --color-Overlays-White-4: var(--Overlays-White-4);
  --color-Content-Primary: var(--Content-Primary);
  --color-action-buttons-secondary-content-default-pressed-hover: var(
    --action-buttons-secondary-content-default-pressed-hover
  );
  --color-Action-Buttons-Primary-Accent-Content-Default: var(
    --Action-Buttons-Primary-Accent-Content-Default
  );
  --color-action-buttons-primary-default-content-default-hover-pressed: var(
    --action-buttons-primary-default-content-default-hover-pressed
  );
  --color-Action-Buttons-Primary-Default-Background-Default: var(
    --Action-Buttons-Primary-Default-Background-Default
  );
  --color-action-buttons-tertiary-content-default-hover: var(
    --action-buttons-tertiary-content-default-hover
  );
  --shadow-navbar: 0 0.5px 0 0.5px
      var(--Overlays-White-4, rgba(247, 247, 248, 0.06)) inset,
    0 0 1.5px 1.5px var(--Overlays-White-4, rgba(247, 247, 248, 0.06)) inset;
  --shadow-LightGrayButton: 0 2px 0 0 #fff inset,
    0 0 0 2px rgba(255, 255, 255, 0.4) inset;
  --shadow-AccentButton: 0 0 0 1px #3bf5ff inset, 0 0 5px 2px #009199 inset;
  --shadow-SecondaryButton: 0 2px 0 0 rgba(255, 255, 255, 0.2) inset,
    0 0 0 2px #38393a inset;
  --font-outfit: var(--font-outfit);
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

@media (min-width: 5760) {
  html {
    font-size: 48.2px;
  }
}

@media (min-width: 3840) and (max-width: 5759) {
  html {
    font-size: 32.1px;
  }
}
@media (min-width: 2880) and (max-width: 3839) {
  html {
    font-size: 24.05px;
  }
}
@media (min-width: 2560) and (max-width: 2879) {
  html {
    font-size: 21.37px;
  }
}
@media (min-width: 2400) and (max-width: 2559) {
  html {
    font-size: 20.04px;
  }
}
@media (min-width: 2133) and (max-width: 2399) {
  html {
    font-size: 17.8px;
  }
}
@media (min-width: 1920px) and (max-width: 2132px) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 1745px) and (max-width: 1919px) {
  html {
    font-size: 14.55px;
  }
}

@media (min-width: 1536px) and (max-width: 1744px) {
  html {
    font-size: 12.78px;
  }
}

@media (min-width: 1280px) and (max-width: 1535px) {
  html {
    font-size: 10.68px;
  }
}

body {
  background: var(--backgroundDarkGray);
  color: var(--foreground);
  font-family: var(--font-outfit);
}
a {
  text-decoration: none !important;
}
